doctype html
html
  head
    title custom template in test subdomain
  body
    h1 Default template in test subdomain
      !{body}
      !{sidebar}
    ul
        for option in anchors
            li= option